/.vs/AuthTest/config/applicationhost.config
/.vs/AuthTest/v16/.suo
/AuthTest/bin/Debug/netcoreapp3.1/AuthTest.deps.json
/AuthTest/bin/Debug/netcoreapp3.1/AuthTest.dll
/AuthTest/bin/Debug/netcoreapp3.1/AuthTest.exe
/AuthTest/bin/Debug/netcoreapp3.1/AuthTest.pdb
/AuthTest/bin/Debug/netcoreapp3.1/AuthTest.runtimeconfig.dev.json
/AuthTest/bin/Debug/netcoreapp3.1/AuthTest.runtimeconfig.json
/AuthTest/bin/Debug/netcoreapp3.1/AuthTest.xml
/AuthTest/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Authorization.dll
/AuthTest/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Metadata.dll
/AuthTest/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.Abstractions.dll
/AuthTest/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.Abstractions.dll
/AuthTest/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Options.dll
/AuthTest/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Primitives.dll
/AuthTest/bin/Debug/netcoreapp3.1/Microsoft.OpenApi.dll
/AuthTest/bin/Debug/netcoreapp3.1/Navyblue.Authentication.dll
/AuthTest/bin/Debug/netcoreapp3.1/Navyblue.Authentication.pdb
/AuthTest/bin/Debug/netcoreapp3.1/Navyblue.BaseLibrary.dll
/AuthTest/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
/AuthTest/bin/Debug/netcoreapp3.1/Properties/launchSettings.json
/AuthTest/bin/Debug/netcoreapp3.1/ReflectionMagic.dll
/AuthTest/bin/Debug/netcoreapp3.1/Swashbuckle.AspNetCore.Swagger.dll
/AuthTest/bin/Debug/netcoreapp3.1/Swashbuckle.AspNetCore.SwaggerGen.dll
/AuthTest/bin/Debug/netcoreapp3.1/Swashbuckle.AspNetCore.SwaggerUI.dll
/AuthTest/bin/Debug/netcoreapp3.1/appsettings.Development.json
/AuthTest/bin/Debug/netcoreapp3.1/appsettings.json
/AuthTest/obj/AuthTest.csproj.nuget.dgspec.json
/AuthTest/obj/AuthTest.csproj.nuget.g.props
/AuthTest/obj/AuthTest.csproj.nuget.g.targets
/AuthTest/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/AuthTest/obj/Debug/netcoreapp3.1/AuthTest.AssemblyInfo.cs
/AuthTest/obj/Debug/netcoreapp3.1/AuthTest.AssemblyInfoInputs.cache
/AuthTest/obj/Debug/netcoreapp3.1/AuthTest.MvcApplicationPartsAssemblyInfo.cache
/AuthTest/obj/Debug/netcoreapp3.1/AuthTest.MvcApplicationPartsAssemblyInfo.cs
/AuthTest/obj/Debug/netcoreapp3.1/AuthTest.RazorTargetAssemblyInfo.cache
/AuthTest/obj/Debug/netcoreapp3.1/AuthTest.assets.cache
/AuthTest/obj/Debug/netcoreapp3.1/AuthTest.csproj.CopyComplete
/AuthTest/obj/Debug/netcoreapp3.1/AuthTest.csproj.CoreCompileInputs.cache
/AuthTest/obj/Debug/netcoreapp3.1/AuthTest.csproj.FileListAbsolute.txt
/AuthTest/obj/Debug/netcoreapp3.1/AuthTest.csprojAssemblyReference.cache
/AuthTest/obj/Debug/netcoreapp3.1/AuthTest.dll
/AuthTest/obj/Debug/netcoreapp3.1/AuthTest.exe
/AuthTest/obj/Debug/netcoreapp3.1/AuthTest.genruntimeconfig.cache
/AuthTest/obj/Debug/netcoreapp3.1/AuthTest.pdb
/AuthTest/obj/Debug/netcoreapp3.1/staticwebassets/AuthTest.StaticWebAssets.Manifest.cache
/AuthTest/obj/Debug/netcoreapp3.1/staticwebassets/AuthTest.StaticWebAssets.xml
/AuthTest/obj/project.assets.json
/AuthTest/obj/project.nuget.cache
/KittSoftware.Authentication/NavyAuthenticationExtensions.cs
/KittSoftware.Authentication/NavyAuthenticationHandler.cs
/KittSoftware.Authentication/Navyblue.Authentication.csproj.user
/KittSoftware.Authentication/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Http.Extensions.dll
/KittSoftware.Authentication/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Http.Extensions.xml
/KittSoftware.Authentication/bin/Debug/netcoreapp3.1/Navyblue.Authentication.deps.json
/KittSoftware.Authentication/bin/Debug/netcoreapp3.1/Navyblue.Authentication.dll
/KittSoftware.Authentication/bin/Debug/netcoreapp3.1/Navyblue.Authentication.pdb
/KittSoftware.Authentication/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/KittSoftware.Authentication/obj/Debug/netcoreapp3.1/Navyblue.Authentication.AssemblyInfo.cs
/KittSoftware.Authentication/obj/Debug/netcoreapp3.1/Navyblue.Authentication.AssemblyInfoInputs.cache
/KittSoftware.Authentication/obj/Debug/netcoreapp3.1/Navyblue.Authentication.assets.cache
/KittSoftware.Authentication/obj/Debug/netcoreapp3.1/Navyblue.Authentication.csproj.CopyComplete
/KittSoftware.Authentication/obj/Debug/netcoreapp3.1/Navyblue.Authentication.csproj.CoreCompileInputs.cache
/KittSoftware.Authentication/obj/Debug/netcoreapp3.1/Navyblue.Authentication.csproj.FileListAbsolute.txt
/KittSoftware.Authentication/obj/Debug/netcoreapp3.1/Navyblue.Authentication.csprojAssemblyReference.cache
/KittSoftware.Authentication/obj/Debug/netcoreapp3.1/Navyblue.Authentication.dll
/KittSoftware.Authentication/obj/Debug/netcoreapp3.1/Navyblue.Authentication.pdb
/KittSoftware.Authentication/obj/Navyblue.Authentication.csproj.nuget.dgspec.json
/KittSoftware.Authentication/obj/Navyblue.Authentication.csproj.nuget.g.props
/KittSoftware.Authentication/obj/Navyblue.Authentication.csproj.nuget.g.targets
/KittSoftware.Authentication/obj/project.assets.json
/KittSoftware.Authentication/obj/project.nuget.cache
/KittSoftware.Authentication/obj/Debug/netcoreapp3.1/Navyblue.Authorizations.AssemblyInfo.cs
/KittSoftware.Authentication/obj/Debug/netcoreapp3.1/Navyblue.Authorizations.AssemblyInfoInputs.cache
/KittSoftware.Authentication/obj/Debug/netcoreapp3.1/Navyblue.Authorizations.assets.cache
/KittSoftware.Authentication/obj/Debug/netcoreapp3.1/Navyblue.Authorizations.csproj.CopyComplete
/KittSoftware.Authentication/obj/Debug/netcoreapp3.1/Navyblue.Authorizations.csproj.CoreCompileInputs.cache
/KittSoftware.Authentication/obj/Debug/netcoreapp3.1/Navyblue.Authorizations.csproj.FileListAbsolute.txt
/KittSoftware.Authentication/obj/Debug/netcoreapp3.1/Navyblue.Authorizations.csprojAssemblyReference.cache
/KittSoftware.Authentication/obj/Debug/netcoreapp3.1/Navyblue.Authorizations.dll
/KittSoftware.Authentication/obj/Debug/netcoreapp3.1/Navyblue.Authorizations.pdb
/KittSoftware.Authentication/obj/Navyblue.Authorizations.csproj.nuget.dgspec.json
/KittSoftware.Authentication/obj/Navyblue.Authorizations.csproj.nuget.g.props
/KittSoftware.Authentication/obj/Navyblue.Authorizations.csproj.nuget.g.targets
/AuthTest/bin/Debug/netcoreapp3.1/*.pdb
/AuthTest/bin/Debug/netcoreapp3.1/*.dll
/KittSoftware.Authentication/bin/Debug/netcoreapp3.1/Navyblue.Authorizations.deps.json
/KittSoftware.Authentication/bin/Debug/netcoreapp3.1/Navyblue.Authorizations.dll
/KittSoftware.Authentication/bin/Debug/netcoreapp3.1/Navyblue.Authorizations.pdb
